
@model HospitalManagementSystem.Models.ViewModels.LocationList
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div style=" margin: 30px 0;">
    <a style="border: 1px solid black; margin: 15px; padding: 15px; text-decoration: none; text-align: center; background-color: #47d147; color: black; " href="/Location/New">Add Location</a></a>
</div>

<div>
    @if (Model.Locations.Count() > 0 && ViewData["PageNum"] !=null)
    {
        int PrevPage = Convert.ToInt32(ViewData["PageNum"]) - 1;
        int NextPage = Convert.ToInt32(ViewData["PageNum"]) + 1;
        @Html.ActionLink("Prev", "List", new { PageNum = PrevPage })
        @ViewData["PageSummary"]
        @Html.ActionLink("Next", "List", new { PageNum = NextPage })
    }
</div>


@foreach (var location in Model.Locations)
{

    <h2><a href="/Location/Details/@location.LocationId">@location.LocationName</a></h2>
    <div>@location.LocationAddress</div>
    <div>@location.LocationContactNo</div>
}