@model HospitalManagementSystem.Models.ViewModels.CareerDetails
@{
    ViewBag.Title = "Details";
}

<h2>Show Career</h2>


<h3><a href="/Career/List">Go back to list</a></h3>

<br />

<div>Job Name: @Model.SelectedCareer.JobName</div>
<div>Job Id: @Model.SelectedCareer.JobId</div>
<div>Job Description: @Model.SelectedCareer.JobDescription</div>
<div>Department Name: @Model.SelectedCareer.DepartmentName</div>
<div>Location Name: @Model.SelectedCareer.LocationName</div>

<br />

<h3><a href="/Career/DeleteConfirm/@Model.SelectedCareer.CareerId">DELETE</a></h3>
<h3><a href="/Career/Edit/@Model.SelectedCareer.CareerId">UPDATE</a></h3>