@model HospitalManagementSystem.Models.ViewModels.AddCareers
@{
    ViewBag.Title = "Create";
}

<h2>Create Career</h2>
<form action="/Career/Create" method="POST">
    <div>
        <label>Job Name:</label>
        <input type="text" name="JobName" />
    </div>
    <div>
        <label>Job Id:</label>
        <input type="number" name="JObId" />
    </div>
    <div>
        <label>Job Description:</label>
        <input type="text" name="JobDescription" />
    </div>

    <div>
        <label>DepartmentId:</label>
        <select name="DepartmentId">
            @foreach (var department in @Model.DepartmentOptions)
            {
                <option value="@department.DepartmentId">@department.DepartmentName</option>

            }
        </select>
    </div>
  
    <div>
        <label>LocationID:</label>
        <select name="LocationID">
            @foreach (var location in @Model.LocationOptions)
            {
                <option value="@location.LocationId">@location.LocationName</option>

            }
            </select>
    </div>
    <div>
        <input type="submit" value="Add Career" />
    </div>
</form>